#img-bg{
    background-image: url('https://i.imgur.com/Exh9n2X.jpg');
    /*nome da imagem não pode ter espaço*/

    min-height: 100vh; /*possui esse tamanho mínimo, para que ela se estenda junto com a tela, ou seja, não possui tamanho fixo */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}