<div class="container-fluid">

    <div class="row">

        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 my-5">

            <div class="row d-flex justify-content-center">

                <div class="col-md-10 mb-3">

                    <h1 class="text-center">Cadastro</h1>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]='usuario.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Insira seu nome completo">
                    </div>

                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input [(ngModel)]='usuario.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Insira seu usuário">
                    </div>

                    <div class="form-group">
                        <label for="foto">Foto</label>
                        <input [(ngModel)]='usuario.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Insira a URL da foto">
                    </div>

                    <div class="form-group">
                        <label for="dataNascimento">Data de Nascimento</label>
                        <input [(ngModel)]='usuario.dataNascimento' class="form-control" type="date" name="dataNasc" id="dataNasc">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Insira sua senha">
                    </div>

                    <div class="form-group">
                        <label for="confirmSenha">Confirmar senha</label>
                        <input [(ngModel)]='usuario.senha'  class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                            placeholder="confirme sua senha">
                    </div>

                    <div class="form-group">
                        <label for="tipo">Tipo de usuário</label>
                        <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
                            <option>Selecione um tipo de usuário</option>
                            <option value="normal">Padrão</option>
                            <option value="adm">Administrador</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a routerLink= '/entrar' class="btn btn-outline-danger mr-4">Cancelar</a>
                        <button type="submit" class="btn btn-outline-success" (click)='cadastrar()'>Cadastrar</button>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>