#img-bg{
    background-image: url('https://i.imgur.com/mJjvDxv.jpg');
    /*nome da imagem não pode ter espaço*/

    height: 100vh; /*possui esse tamanho mínimo, para que ela se estende junto com a tela, ou seja, não possui tamanho fixo */

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}